<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.mapper">
	<select id="rsall" resultType="integer">
		select count(*) from restaurantaddr
	</select>

	<select id="rstoday" resultType="integer">
		select count(*) from restaurantaddr where hire_data = sysdate
	</select>
	
	<select id="salist" resultType="admin.AllergyVO">
		select * from allergy where ${search} like '%' || #{keyword} || '%'
	</select>
	<select id="malist" resultType="String">
		select m_allergy from member where not m_allergy is null
	</select>
	
	<delete id="adelete">
		delete from allergy where a_material = #{a_material}
	</delete>

	<update id="aupdate">
		update allergy set a_category = #{a_category} where a_material like #{a_material}
	</update>
	
	<insert id="ainsert">
		insert into allergy (a_material, a_category) values (#{a_material}, #{a_category})
	</insert>
	<select id="alist" resultType="admin.AllergyVO">
		select * from allergy
	</select>
	
	<sql id='rs_search'>
	<if test="search == 'all'">
		where restaurant like '%' || #{keyword} || '%'
		or r_address like '%' || #{keyword} || '%'
		or r_menu like '%' || #{keyword} || '%'
	</if>
	<if test= "search == 'restaurant' or search == 'r_address' or search == 'r_menu' ">
		where ${search} like '%' || #{keyword} || '%'
	</if> 
	</sql>

	<select id="slist" resultType="admin.RestrantVO">
		select * from restaurantaddr <include refid="rs_search"/>
	</select>
	
	

	<delete id="r_delete">
		delete from restaurantaddr where r_uq = #{r_uq}
	</delete>

	<update id="r_modify">
		update restaurantaddr set restaurant = #{restaurant}, r_address = #{r_address}, r_tel = #{r_tel},
		r_menu = #{r_menu} where r_uq = #{r_uq}
	</update>
		
	<select id="r_detail" resultType="admin.RestrantVO">
		select * from restaurantaddr where r_uq = #{r_uq}
	</select>

	<select id="rlist" resultType="admin.RestrantVO">
		select * from restaurantaddr order by hire_data desc
	</select>

	<insert id="resInsert">
		insert into restaurantaddr(restaurant, r_latitude, r_hardness, r_address, r_tel, r_menu, r_imgpath, m_uq, hire_data)
		values (#{restaurant}, #{r_latitude}, #{r_hardness}, #{r_address}, #{r_tel}, #{r_menu}, #{r_imgpath, jdbcType=VARCHAR}, #{m_uq}, sysdate)
	</insert>
	
	<select id="list" resultType="admin.CustomerVO">
		select * from member order by m_nikname
	</select>
	
 	<select id="detail" resultType="admin.CustomerVO">
		select * from member where m_uq = #{m_uq}
	</select> 
	
	<update id="update">
		update member set m_email = #{m_email}, m_id = #{m_id}, m_pw = #{m_pw}, m_name = #{m_name}, m_phone = #{m_phone},
		m_gender = #{m_gender}, m_nikname = #{m_nikname}, m_addr1 = #{m_addr1}, m_addr2 = #{m_addr2}, m_allergy = #{m_allergy},
		admin = #{admin}
		where m_uq = #{m_uq}
	</update>
	
	<delete id="delete">
		delete from member where m_uq = #{m_uq}
	</delete>
	
	<sql id='where_search'>
	<if test="search == 'all'">
		where m_name like '%' || #{keyword} || '%'
		or m_email like '%' || #{keyword} || '%'
		or m_nikname like '%' || #{keyword} || '%'
	</if>
	<if test= "search == 'm_name' or search == 'm_email' or search == 'm_nikname' ">
		where ${search} like '%' || #{keyword} || '%'
	</if> 
	</sql>
	
	<select id="search" resultType="admin.CustomerVO">
		select * from member <include refid="where_search"></include>
	</select>
	
	

</mapper>