@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	height: 1000px;
}

img {
	vertical-align: middle;
}

a:link, a:visited {
	text-decoration: none;
	color: #000;
}

#s_content {
	padding: 20px 0;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

#popup-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.3;
	display: none;
}

/* table { */
/* 	width: 80%; */
/* 	margin: 0 auto; */
/* 	border: 1px solid; */
/* 	border-collapse: collapse; */
/* } */
/* table th, table td { */
/* 	border: 1px solid; */
/* 	padding: 5px 10px; */
/* } */
.btnSet {
	margin-top: 50px;
	margin-bottom: 50px;
}

.ad_btnSet {
	margin-top: 20px;
	margin-bottom: 20px;
}

a.btn-fill, a.btn-empty {
	text-align: center;
	padding: 3px 10px;
	border: none;
	border-radius: 3px;
	box-shadow: 2px 2px 3px #ff8787;
}

a.btn-fill {
	background-color: #ef5b5b;
	color: white;
	margin-left: 2px;
}

a.btn-so {
	display: inline-block;
	width: 150px;
	height: 50px;
	margin: 0 14px 0 0;
	padding: 11px 25px 10px;
	background-color: #ef5b5b;
	text-align: center;
	border: none;
	font-size: 25px;
	box-sizing: border-box;
	color: white;
	line-height: 26px;
	border-radius: 15px 0 0 15px;
}

a.btn-not {
	display: inline-block;
	width: 150px;
	height: 50px;
	margin: 0 14px 0 0;
	padding: 11px 25px 10px;
	background-color: #ef5b5b;
	text-align: center;
	border: none;
	font-size: 25px;
	box-sizing: border-box;
	color: white;
	line-height: 26px;
	border-radius: 0 15px 15px 0;
}

a.btn-empty {
	background-color: #fff;
	color: #3367d6;
}

a.btn-fill-s {
	text-align: center;
	padding: 1px 10px;
	border: 1px solid #f38b8b;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #c0c0c0;
	font-size: 13px;
	background-color: #f38b8b;
	color: #FFFFFF;
}

input {
	height: 22px;
	padding: 3px 5px;
	font-size: 15px
}

input[type=radio] {
	width: 18px;
	margin: 0 5px 3px;
	vertical-align: middle;
}

table tr td label:not(:last-child) {
	margin-right: 20px
}

table tr td a:hover, ul.grid li a:hover {
	font-weight: bold;
	cursor: pointer;
}

.btnSet a {
	cursor: pointer;
}

#delete {
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0
}

#list-top {
	padding: 20px 10%;
	height: 115px;
}

#list-top div {
	height: 32px;
	position: relative;
}

#ser {
	position: absolute;
	left: 700px;
	margin-bottom: 50px;
}

#list-top ul {
	margin: 0;
	display: flex;
	float: left;
}

#list-top ul li * {
	vertical-align: middle;
}

#list-top ul:first-child {
	float: right;
}

#list-top ul:last-child {
	float: left;
}

#list-top ul li:not(:first-child) {
	margin-left: -1px;
}

#select {
	border-radius: 15px 0 0 15px;
	display: inline-block;
	height: 48px;
	font-size: 16px;
	padding: 0 0 0 20px;
	background-color: #040c50;
	color: white;
}

option {
	font-size: 15px;
}

#ser ul li:last-child {
	border: 1px solid black;
	border-radius: 0 15px 15px 0;
	width: 70px;
	height: 30px;
	padding: 8px 47px 8px 48px;
	background-color: #040c50;
	display: inline-block;
}

#ser ul li:last-child {
	color: white;
}

select {
	height: 32px;
}

input[name=s_title] {
	width: calc(100% - 14px)
}

textarea[name=s_content] {
	width: 1027px;
	height: 150px;
	resize: none;
}

.file-img {
	width: 18px;
	cursor: pointer;
}

#attach-file, #delete-file {
	display: none;
	cursor: pointer;
}

#data-list .grid li div {
	white-space:nowrap; overflow:hidden; text-overflow: ellipsis;
	
}

ul.grid {
	width: 1120px;
	margin: 0 auto;
}

ul.grid li {
	float: left;
	width: 200px;
	height: 250px;
	box-sizing: border-box;
	border-radius: 0 0 25px 25px;
	background-color: #ef5b5b;
}

ul.grid li:not(:nth-child(5n)) {
	margin: 0 2.67% 20px 0;
}

ul.grid li div {
	text-align: left;
	color: white;
}

ul.grid li div:nth-child(1) {
	height: 150px;
}

ul.grid li div:nth-child(2) {
	padding: 0 10px;
}
ul.grid li div:not(:nth-child(1)) {
	padding: 0 10px;
}

.wpct40 {
	width: 40%;
}

.wpct60 {
	width: 60%;
}

.wpct80 {
	width: 80%;
}

.wpx600 {
	width: 600px;
}

.wpx500 {
	width: 500px;
}

.wpx300 {
	width: 300px;
}

.wpx200 {
	width: 200px;
}

.wpx180 {
	width: 180px;
}

.wpx160 {
	width: 160px;
}

.wpx140 {
	width: 140px;
}

.wpx120 {
	width: 120px;
}

.wpx100 {
	width: 100px;
}

.wpx80 {
	width: 80px;
}

.wpx60 {
	width: 60px;
}

.wpx40 {
	width: 40px;
}